.content {
    width: 400px;
    margin: 200px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
        width: 100%;
    }
}


@media screen and(max-width: 480px) {
    .content {
        width: 90%;
    }
}


.textfield {
    width: 100%;
    border-width: 4px;
    border-radius: 8px;
    &.incorrect {
        border-color: red;
    }
    &.final {
        border-color: green;
    }
}

.tags {
    text-align: center;
}
.correct {
    color: green;
    font-size: 36px;
    margin-top: 16px;
    text-align: center;
}

.hint {
    padding: 16px 0;
    color: grey;
    font-size: 18px;
}