.content {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      margin-top: 150px;
      width: 50%;
    }
}


@media screen and(max-width: 480px) {
    .content {
      form {
        width: 90%;
      }
    }
}

.options {
  text-align: center;
  margin-bottom: 50px;
}

.mic-button {
  display: inline-block;
  position: relative;
  background-color: #f0f0f0;
  height: 80px;
  width: 80px;
  line-height: 80px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid #f0f0f0;
  transition: background-color 0.3s ease;

  .icon {
    position: relative;
    display: inline-block;
    height: 74px;
    width: 50px;
    background-image: url('../../assets/mic.svg');
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    background-color: #1e90ff;
  }

  &.active {
    border-color: #228B22;
    background-color: #228B22;

    &:before {
      content: '';
      display: block;
      position: absolute;
      height: 80px;
      width: 80px;
      top: -5px;
      left: -5px;
      background-color: #228B22;
      border-radius: 50%;
      opacity: 1;
      animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    }
  }
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

.textfield {
    width: 100%;
    border-width: 4px;
    border-radius: 8px;
    &.incorrect {
        border-color: red;
    }
    &.final {
        border-color: green;
    }
}

.tags {
    text-align: center;
}
.correct {
    color: green;
    font-size: 36px;
    margin-top: 16px;
    text-align: center;
}

.hint {
    padding: 16px 0;
    color: grey;
    font-size: 18px;
}
