.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px auto 0;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    .grid-item {
        background-color: #f0f0f0;
    }
}

@media screen and(min-width: 481px) {
    .grid .grid-item {
        width: 20%;
        &:nth-child(odd){
            background-color: #f8f8f8;
        }
    }
}
@media screen and(max-width: 480px) {
    .grid .grid-item {
        width: 50%;
        &:nth-child(4n+1), &:nth-child(4n+4){
            background-color: #f8f8f8;
        }
    }
}

.header {
    display: flex;
    line-height: 40px;
    .word {
        margin-left: 8px;
        font-size: 18px;
    }
    margin-bottom: 16px;
}

.tags {
    span { font-size: 12px; }
}

.fab-area {
    position: fixed;
    z-index: 9000;
    bottom: 50px;
    right: 50px;
}