<div class="grid" *ngIf="!loading else loader">
    <div class="grid-item" *ngFor="let word of words">
        <div class="box">
            <div class="header">
                <button mat-icon-button (click)="speakWord(word.word)">
                    <mat-icon>volume_up</mat-icon>
                </button>
                <div class="word">{{word.word}}</div>
            </div>
            
            <div class="tags translations">
                <span *ngFor="let t of word.translations">{{t}}</span>
            </div>
        </div>
    </div>

    <div class="fab-area">
        <button mat-fab (click)="startLearn()">
            <mat-icon>play_arrow</mat-icon>
        </button>
    </div>
</div>


<ng-template #loader>
    <div class="wrapper">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

